/node_modules/
/demo/chat_with_socketio_and_node/node_modules
/release/biwascheme.js
/release/biwascheme-min.js
/release/console_biwascheme.js
/release/node_biwascheme.js
/release/biwascheme-plain-min.js
/release/biwascheme-plain.js
/test/browser_functions/node_modules/
/package-lock.json
