/* body */

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 1em 20%;
  font-family: Helvetica, sans-serif;
}

em {
  font-style: normal;
  font-weight: bold;
}

/* header */

#header {
  border-bottom: 5px solid #0cf;
}

h1 {
  padding-left: 1em;
}
h1 a{
  color: black;
  text-decoration: none;
}

#subtitle {
  font-size: 50%;
  font-weight: normal;
}

/* menu */

#menu {
  float: left;
  margin-left: -200px;
  padding: 1em;
  z-index: -1;
}
#menu img{
  border: none;
  margin-left: -40px;
}

/* content */

#content {
  padding-left: 1em;
  border-left: 5px solid #0cf;
  z-index: 1;
}

h2 {
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed #0ef;
}

h3 {
  margin: 1em 0px;
  padding-left: 0.5em;
  border-left: 5px dashed #0af;
}

/* paragraphs */

ul, ol {
  margin-left: 1em;
}

li {
  margin-bottom: 0.2em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

pre {
  background: #f5f5f5;
  padding: 0.3em;
}

code {
  font-family: Monaco, monospace;
  font-size: 90%;
}

/* tables */

table {
  margin: 0.5em 0px;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0.1em;
}

/* footer */

#footer {
  margin-top: 6em;
  border-top: 1px dashed #0ef;
  padding-top: 0.5em;
}

#term {
  width: 500px;
}
/* Mobile View */
@media (max-width: 800px) {
  #menu img {
    margin-left: -30px;
  }
  a {
    padding: 4px; /* bigger area of click on mobile */
    display: inline-block;
  }
  #menu > a {
    padding: 0; /* logo */
  }
  body {
    margin: 0;
    border-left: 5px solid #0cf;
  }
  #menu {
    float: none;
    width: calc(100% - 20px);
    border-bottom: 1px dashed #0ef;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    box-sizing: border-box;
  }
  #content {
    padding: 10px;
    border-left: none;
  }
  #term {
    width: 100% !important;
  }
}
