/* body */

* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  background: white;
}

body {
  margin: 1em 20%;
}

em {
  font-style: normal;
  font-weight: bold;
}

/* header */

#header {
  border-bottom: 5px solid #0cf;
}

h1 {
  padding-left: 1em;
}
h1 a{
  color: black;
  text-decoration: none;
}

#subtitle {
  font-size: 50%;
  font-weight: normal;
}

/* menu */

#menu {
  float: left;
  margin-left: -150px;
  padding: 1em;
  z-index: -1;
}
#menu img{
  border: none;
  margin-left: -40px;
}

/* content */

#content {
  padding-left: 1em;
  border-left: 5px solid #0cf;
  z-index: 1;
}

h2 {
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed #0ef;
}

h3 {
  margin: 1em 0px;
  padding-left: 0.5em;
  border-left: 5px dashed #0af;
}

/* paragraphs */

#content ul {
  margin-left: 1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

pre, pre font {
  font-family: monospace;
  font-size: 1.2em;
}

/* tables */

table {
  margin: 0.5em 0px;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0.1em;
}

/* footer */

#footer {
  margin-top: 6em;
  border-top: 1px dashed #0ef;
  padding-top: 0.5em;
}
